#cover
#theend
    &:after
        opacity 0
    h2
        color: #fff;
        margin-top: 321px;
        font-size: 60px;
        margin-bottom: 10px;
        text-shadow: 0 0 10px #1f1820, 0 0 20px #1b141b, 0 0 30px #241f25;
    p
        font-size: 24px;
        color: #fff
        opacity: 0.65
    a
        color: #7a8881
            
.cover
    img
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;   
    
.logo
    width 75px
    background-color: #fff
    padding: 5px
    & + &
        margin-left 30px
